.table-responsive {
    overflow-x: auto;
    margin: 10px 0;
}

.table {
    width: 100%;
}

.p-tabview .p-tabview-nav li {
    font-weight: bold;
}


::ng-deep .field-row .p-dropdown .p-dropdown-trigger {
    font-size: 11px !important; 
    width: 25px !important;
}

::ng-deep .child-items-section .p-dropdown .p-dropdown-trigger {
    font-size: 11px !important; 
    width: 25px !important;
}

