<div class="container-fluid mt-2" style="width:100%">
    <div class="flex justify-content-between p-2 ">
        <h3> CREATE ITEM</h3>
    </div>
    <section>
        <div class="card">
            <div class="p-grid ">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card shadow-3">
                            <p-accordion>
                                <p-accordionTab header="ITEM" [selected]="true">
                                    <div class="card shadow-3">
                                        <div class="card-header">Create Item</div>
                                        <div class="card-body">
                                            <div class="grid">
                                                <div class="row mt-1 px-2 col-12">
                                                    <div class="row">
                                                        <!-- <input type="text" (window:keypress)="onKey($event)"  autofocus /> -->
                                                        <!-- <p (window:keypress)="onKey($event)"  autofocus>barcode: {{ barcode }}</p>  -->
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        
                                                        <label for="lastname">
                                                             Barcode <span class="text-danger">*</span>
                                                        </label>
                                                        <input type="text" (keypress)="onKey($event)"  autofocus class="form-control col-md-12"
                                                               placeholder="Alias Name" [(ngModel)]="formData.aliasName">
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <label for="lastname">
                                                             Item Name <span class="text-danger">*</span>
                                                            </label>
                                                        <input type="text" class="form-control col-md-12 "
                                                            placeholder="Item Name" [(ngModel)]="formData.itemName">
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <label for="lastname">Net Cost
                                                        </label>
                                                        <input type="number" class="form-control col-md-12 "
                                                            placeholder="Purchase Price" [(ngModel)]="formData.purchasePrice">
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <label for="lastname">Sale Price 
                                                       </label>
                                                        <input type="number" class="form-control col-md-12 "
                                                            placeholder="Sale Price" [(ngModel)]="formData.salePrice">
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <label for="lastname"><span class="text-danger">
                                                            </span>Sale Disc</label> 
                                                        <input type="number" class="form-control  col-md-12 " placeholder="DiscFlat"
                                                             [(ngModel)]="formData.discflat">
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <label for="username">Brand <span class="text-danger">*
                                                        </span></label>
                                                        <div class="d-flex">
                                                            <label
                                                                class="mr-1 border w-25 d-flex align-items-center justify-content-center"
                                                                for="username"><span class="text-danger">
                                                                </span>{{formData.brandId}}</label>
                                                            <p-dropdown class="w-100" [options]="brnd"
                                                                [(ngModel)]="formData.brandId" placeholder="Brand"
                                                                optionLabel="name" optionValue="id"></p-dropdown>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <label for="username">Manufacturer <span class="text-danger">*
                                                        </span></label>
                                                        <div class="d-flex">
                                                            <label
                                                                class="mr-1 border w-25 d-flex align-items-center justify-content-center"
                                                                for="username"><span class="text-danger">
                                                                </span>{{formData.manufacturerId}}</label>
                                                            <p-dropdown class="w-100" [options]="manu"
                                                                [(ngModel)]="formData.manufacturerId" placeholder="Manufacturer"
                                                                optionLabel="name" optionValue="id"></p-dropdown>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <label for="username">Class <span class="text-danger">*
                                                        </span></label>
                                                        <div class="d-flex">
                                                            <label
                                                                class="mr-1 border w-25 d-flex align-items-center justify-content-center"
                                                                for="username"><span class="text-danger">
                                                                </span>{{formData.classId}}</label>
                                                            <p-dropdown class="w-100" [options]="clas"
                                                                [(ngModel)]="formData.classId" placeholder="Class"
                                                                optionLabel="name" optionValue="id"></p-dropdown>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <label for="username">Category <span class="text-danger">*
                                                        </span></label>
                                                        <div class="d-flex">
                                                            <label
                                                                class="mr-1 border w-25 d-flex align-items-center justify-content-center"
                                                                for="username"><span class="text-danger">
                                                                </span>{{formData.categoryId}}</label>
                                                            <p-dropdown class="w-100" [options]="cat"
                                                                [(ngModel)]="formData.categoryId" placeholder="Category"
                                                                optionLabel="name" optionValue="id"></p-dropdown>
                                                        </div>

                                                    </div>
                                                   
                                                    
                                                    <div class="col-md-6 col-sm-12">
                                                        <label for="lastname"><span class="text-danger">
                                                            </span>Remarks</label>
                                                        <input type="text" class="form-control col-md-12 "
                                                            placeholder="Remarks" [(ngModel)]="formData.remarks">
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <label for="username"><span class="text-danger">
                                                            </span>LockDisc</label>
                                                        <div class="d-flex">
                                                            <label
                                                                class="mr-1 border w-25 d-flex align-items-center justify-content-center"
                                                                for="username"><span class="text-danger">
                                                                </span>{{formData.lockdisc}}</label>
                                                            <p-dropdown class="w-100" [options]="act"
                                                                [(ngModel)]="formData.lockdisc" placeholder="LockDisc"
                                                                optionLabel="isActive" optionValue="id"></p-dropdown>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <label for="lastname"><span class="text-danger">
                                                            </span>Recent Purchase</label>
                                                        <input type="number" class="form-control col-md-12 "
                                                            placeholder="Recent Purchase" [(ngModel)]="formData.recentPurchase">
                                                    </div>

                                                        
                                                       
                                                      
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p-tabView (onChange)="onTabChange($event)">
                                        <!-- Alternate Barcode Tab -->
                                        <p-tabPanel header="Alternate Barcode">
                                            <div class="table-responsive">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Barcode</th>
                                                            <th>Qty</th>
                                                            <th>Sale Price</th>
                                                            <th>Sale Disc</th>
                                                            <th>Net Sale Price</th>
                                                            <th>Remarks</th>
                                                            <th>Alternate Item Name</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let item of altrnateBarCodeData; let i = index">
                                                           
                                                            <td>
                                                                <input type="text" class="form-control" [(ngModel)]="item.barcode" placeholder="Barcode">
                                                            </td>
                                                            <td>
                                                                <input type="number" class="form-control" [(ngModel)]="item.qty" (ngModelChange)="calculateAlternateItemPrices(item)" placeholder="Quantity">
                                                            </td>
                                                            <td>
                                                                <input type="number" class="form-control" [(ngModel)]="item.salePrice" (ngModelChange)="calculateAlternateItemPrices(item)" placeholder="Sale Price">
                                                            </td>
                                                            <td>
                                                                <input type="number" class="form-control" [(ngModel)]="item.saleDisc" (ngModelChange)="calculateAlternateItemPrices(item)" placeholder="Sale Discount">
                                                            </td>
                                                            <td>
                                                                <input type="number" class="form-control" [(ngModel)]="item.netSalePrice" placeholder="Net Sale Price" readonly>
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" [(ngModel)]="item.remarks" (ngModelChange)="calculateAlternateItemPrices(item)" placeholder="Remarks">
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" [value]="formData.itemName + ' ' + item.remarks" readonly>
                                                            </td>
                                                            <td>
                                                                <button pButton icon="pi pi-trash" class="p-button-sm p-button-danger" (click)="deleteRow(i)"></button>
                                                            </td>
                                                           
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <button pButton icon="pi pi-plus" label="Add Row" (click)="addRow()" class="p-button-sm p-button-secondary mt-2"></button>
                                            </div>
                                        </p-tabPanel>
                                    
                                        <!-- Child And Parent Tab -->
                                        <p-tabPanel header="Child And Parent">
                                        </p-tabPanel>
                                    </p-tabView>
                                    <p-dialog [(visible)]="displayPopup" [modal]="true" [style]="{width: '81vw'}" [closable]="false">
                                        <!-- Custom Header -->
                                        <div class="header-content" style="display: flex; justify-content: space-between; align-items: center; padding-bottom: 10px;">
                                            <span><h2>Child And Parent Item </h2></span>
                                            <div class="text-boxes" style="display: flex; gap: 10px;">
                                                <input type="text" [(ngModel)]="formData.aliasName" class="form-control" style="width: 150px;">
                                                <input type="text" [value]="combinedItemInfo" class="form-control" style="width: 300px;">
                                            </div>
                                            <button 
                                            class="close-button" 
                                            (click)="displayPopup = false" 
                                            style="background-color: red; color: white; border: none; width: 35px; height: 35px; cursor: pointer; font-size: 18px; font-weight: bold; display: flex; justify-content: center; align-items: center; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
                                            X
                                        </button>
                                        </div>
                                        <hr style="margin: 15px 0; border: 1px solid #ccc;">
                                        <div class="popup-content">
                                            <!-- Second Line: Parent Item Title -->
                                            <div class="second-line">
                                                <h4>Parent Item</h4>
                                            </div>

                                            <!-- Third Line: Parent Item Fields -->
                                            <div class="parent-item-fields" style="display: flex; flex-wrap: wrap; gap: 10px;">
                                                <div class="field-row" style="display: flex; flex-direction: column; align-items: last baseline; font-size: 12px;">
                                                    <label>Barcode</label>
                                                    <input type="text" [(ngModel)]="formData.aliasName" class="form-control" style="width: 100px; height: 30px; font-size: 12px;">
                                                </div>
                                                <div class="field-row" style="display: flex; flex-direction: column; align-items: last baseline; font-size: 12px;">
                                                    <label>Parent Name</label>
                                                    <input type="text" [(ngModel)]="formData.itemName" class="form-control" style="width: 170px; height: 30px; font-size: 12px;">
                                                </div>
                                                <div class="field-row" style="display: flex; flex-direction: column; align-items: last baseline; font-size: 12px;">
                                                    <label>UOM</label>
                                                    <p-dropdown
                                                        class="uom-dropdown"
                                                        [options]="uomOptions"
                                                        [(ngModel)]="selectedUOM"
                                                        (ngModelChange)="onParentInputChange()"
                                                        [style]="{ width: '80px', height: '30px', 'display': 'flex', 'align-items': 'center' }"
                                                        [panelStyle]="{ fontSize: '12px' }">
                                                        <ng-template pTemplate="selectedItem" let-selectedOption>
                                                            <span style="font-size: 11px; line-height: 30px; display: flex; align-items: center;">
                                                                {{ selectedOption }}
                                                            </span>
                                                        </ng-template>
                                                    </p-dropdown>
                                                </div>
                                                <div class="field-row" style="display: flex; flex-direction: column; align-items: last baseline; font-size: 12px;">
                                                    <label>Weight</label>
                                                    <input type="number" [(ngModel)]="childParentData.weight" (ngModelChange)="onParentInputChange()" class="form-control" style="width: 60px; height: 30px; font-size: 12px;">
                                                </div>
                                               
                                                <div class="field-row" style="display: flex; flex-direction: column; align-items: last baseline; font-size: 12px;">
                                                    <label>Misc</label>
                                                    <input type="number" [(ngModel)]="childParentData.misc" (ngModelChange)="onParentInputChange()" class="form-control" style="width: 70px; height: 30px; font-size: 12px;">
                                                </div>
                                                <div class="field-row" style="display: flex; flex-direction: column; align-items: last baseline; font-size: 12px;" (ngOnInit)="onParentInputChange()">
                                                    <label>Net Cost</label>
                                                    <input type="number" [(ngModel)]="childParentData.netCost" class="form-control" style="width: 80px; height: 30px; font-size: 12px;">
                                                </div>
                                                <div class="field-row" style="display: flex; flex-direction: column; align-items: last baseline; font-size: 12px;">
                                                    <label>Sale Price</label>
                                                    <input type="number" [(ngModel)]="childParentData.salePrice" (ngModelChange)="onParentInputChange()" class="form-control" style="width: 70px; height: 30px; font-size: 12px;">
                                                </div>
                                                <div class="field-row" style="display: flex; flex-direction: column; align-items: last baseline; font-size: 12px;">
                                                    <label>Disc Value</label>
                                                    <input type="number" [(ngModel)]="childParentData.discValue" (ngModelChange)="onParentInputChange()" class="form-control" style="width: 70px; height: 30px; font-size: 12px;">
                                                </div>
                                           
                                                <div class="field-row" style="display: flex; flex-direction: column; align-items: last baseline; font-size: 12px;">
                                                    <label>Net Sale Price</label>
                                                    <input type="number" [(ngModel)]="childParentData.netSalePrice" [readonly]="true" class="form-control" style="width: 80px; height: 30px; font-size: 12px; background-color: #f0f0f0;">
                                                </div>
                                                <div class="field-row" style="display: flex; flex-direction: column; align-items: last baseline; font-size: 12px;">
                                                    <label>Profit</label>
                                                    <input type="number" [(ngModel)]="childParentData.profit" [readonly]="true" class="form-control" style="width: 80px; height: 30px; font-size: 12px; background-color: #f0f0f0;">
                                                </div>
                                                <div class="field-row" style="display: flex; flex-direction: column; align-items: last baseline; font-size: 12px;">
                                                    <label>Manual Sale Price</label>
                                                    <input type="number" [(ngModel)]="childParentData.manualSalePrice" (ngModelChange)="onParentInputChange()" class="form-control" style="width: 80px; height: 30px; font-size: 12px;">
                                                </div>
                                                
                                            </div>
                                            <hr style="margin: 15px 0; border: 1px solid #ccc;">
                                            
                                           <!-- Fourth Line: Child Item Title -->
                                            <div class="fourth-line" style="display: flex; align-items: center; justify-content: space-between;">
                                                <h4 style="margin: 0;">Child Item</h4>
                                                <p-button icon="pi pi-plus" (click)="addChildRow()" styleClass="p-button-sm" [style]="{'width': '15px', 'height': '20px', 'font-size': '10px'}"></p-button>
                                            </div>

                                            <!-- Fifth Line: Child Items Table with Add Row Button -->
                                            <div class="child-items-section" style="font-size: 12px; padding: 10px; border: 1px solid #ccc; border-radius: 5px; margin-top: 10px;">
                                                <table class="child-items-table" style="width: 100%; border-collapse: collapse;">
                                                    <tr>
                                                        <th>Barcode</th>
                                                        <th>Child Name</th>
                                                        <th>UOM</th>
                                                        <th>Weight</th>
                                                        <th>Misc</th>
                                                        <th>Net Cost</th>
                                                        <th>Sale Price</th>
                                                        <th>Disc Value</th>
                                                        <th>Net Sale Price</th>
                                                        <th>Profit</th>
                                                        <th>Material Sale Price</th>
                                                    </tr>
                                                    <tr *ngFor="let child of childData; let i = index">
                                                        <td><input type="text" class="form-control" style="display: flex; flex-direction: column; align-items: last baseline; font-size: 12px;" [(ngModel)]="child.barcode"></td>
                                                        <td><input type="text" class="form-control" [(ngModel)]="child.childName" (ngModelChange)="onChildInputChange(child)" style="font-size: 12px; width: 150px; height: 30px;"></td>
                                                        <td>
                                                            <p-dropdown
                                                                [options]="uomOptions"
                                                                [(ngModel)]="child.uom"
                                                                (ngModelChange)="onChildInputChange(child)"
                                                                [style]="{ width: '70px', height: '30px', 'display': 'flex', 'align-items': 'center' }"
                                                                [panelStyle]="{ fontSize: '12px' }">
                                                                <ng-template pTemplate="selectedItem" let-selectedOption>
                                                                    <span style="font-size: 11px; line-height: 5px;flex-direction: column; display: flex; align-items: center;">
                                                                        {{ selectedOption }}
                                                                    </span>
                                                                </ng-template>
                                                            </p-dropdown>
                                                        </td>
                                                        <td><input type="number" class="form-control" [(ngModel)]="child.weight" (ngModelChange)="onChildInputChange(child)" [style]="{'width': '80px', 'height': '30px', 'font-size': '12px'}" [value]="child.weight"></td>
                                                        <td><input type="number" class="form-control" [(ngModel)]="child.misc" (ngModelChange)="onChildInputChange(child)" [style]="{'width': '80px', 'height': '30px', 'font-size': '12px'}" [value]="child.misc"></td>
                                                        <td><input type="number" class="form-control" [(ngModel)]="child.netCost" (ngModelChange)="onChildInputChange(child)" [style]="{'width': '80px', 'height': '30px', 'font-size': '12px'}" [value]="child.netCost"></td>
                                                        <td><input type="number" class="form-control" [(ngModel)]="child.salePrice" (ngModelChange)="onChildInputChange(child)" [style]="{'width': '80px', 'height': '30px', 'font-size': '12px'}" [value]="child.salePrice"></td>
                                                        <td><input type="number" class="form-control" [(ngModel)]="child.discValue" (ngModelChange)="onChildInputChange(child)" [style]="{'width': '80px', 'height': '30px', 'font-size': '12px'}" [value]="child.discValue"></td>
                                                        <td><input type="number" class="form-control" [(ngModel)]="child.netSalePrice" (ngModelChange)="onChildInputChange(child)" [style]="{'width': '80px', 'height': '30px', 'font-size': '12px', 'background-color': '#f0f0f0'}" [value]="child.netSalePrice" readonly></td>
                                                        <td><input type="number" class="form-control" [(ngModel)]="child.profit" (ngModelChange)="onChildInputChange(child)" [style]="{'width': '80px', 'height': '30px', 'font-size': '12px', 'background-color': '#f0f0f0'}" [value]="child.profit" readonly></td>
                                                        <td><input type="number" class="form-control" [(ngModel)]="child.manualSalePrice" (ngModelChange)="onChildInputChange(child)" [style]="{'width': '80px', 'height': '30px', 'font-size': '12px'}" [value]="child.manualSalePrice"></td>
                                                        <td>
                                                            <button pButton icon="pi pi-trash" class="p-button-sm p-button-danger" (click)="deletehildRow(i)"></button>
                                                        </td>
                                                    </tr>
                                                </table>
                                               
                                            </div>
                                             <!-- Final OK Button -->
                                                <div class="popup-footer" style="text-align: right; margin-top: 20px;">
                                                    <button pButton pRipple type="button" icon="pi pi-save"
                                                    (click)="addParentChild()" label="Submit" 
                                                    class="p-button-sm p-button-success"> </button>
                                                </div>
                                                
                                        </div>
                                    </p-dialog>
                                    

                                    <div class="d-flex justify-content-end w-100" style="margin-top:10px">
                                        <div>
                                            <button style="margin-right: 3px" pButton pRipple type="button"
                                                icon="pi pi-arrow-left" (click)="cancel()" label="Back"
                                                class="p-button-sm p-button-danger"> </button>
                                            <button pButton pRipple type="button" icon="pi pi-save"
                                                (click)="addItem()" label="Save"
                                                class="p-button-sm p-button-success"> </button>
                                        </div>
                                    </div>
                                </p-accordionTab>
                            </p-accordion>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>
</div>

<p-toast position="top-right"></p-toast>