.summary-table {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    padding: 10px;
    border-radius: 5px;
}
.summary-table h5 {
    margin-bottom: 15px;
}
.summary-table p-table {
    width: 100%;
}
.summary-table p-table td, .summary-table p-table th {
    padding: 8px 10px;
}
.ng-star-inserted.ng-tns-c4292766971-9.p-dialog-header {
    padding-bottom: 0px;
}


.p-datatable th {
    white-space: nowrap; /* Prevent text from wrapping */
  }
  
  .p-datatable td {
    white-space: nowrap; /* Prevent text from wrapping */
  }
  
  .p-datatable th, .p-datatable td {
    padding: 8px; /* Adjust padding as needed */
  }
  
  .highlighted {
    background-color: #1000ff !important;
  }
  
  .keypad-container {
    background: #f8f9fa;
    border-radius: 10px;
    padding: 10px;
    height: 100%;
  }
  
  .keypad-btn {
    font-size: 1.2rem;
    padding: 14px 0;
  }
  