<div class="container-fluid mt-2" style="width:100%">
    
    <div class="flex justify-content-between p-2 ">
        <h3>SALE</h3>
        <div class="text-right">
            <button pButton pRipple type="button" icon="pi pi-save"
                (click)="AddData()" label="Add"
                class="p-button-sm p-button-success"> </button>
            <button pButton pRipple type="button" icon="pi pi-trash"
                (click)="RemoveData()" label="Remove"
                class="ml-2 p-button-sm p-button-danger"> </button>
        </div>
    </div>
    <section>
        <div class="card">
            <div class="p-grid ">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card shadow-3">
                            <p-accordion>
                                <p-accordionTab header="Add Sale" [selected]="true">
                                    <div class="card shadow-3"> 
                                        <div class="card-body">
                                            <div class="grid">
                                                <div class="row mt-1 px-2 col-12">
                                                    <!-- <div class="col-md-6 col-sm-12">
                                                        <label for="usertypr"><span class="text-danger">
                                                            </span>Party</label>
                                                        <div class="d-flex">
                                                            <label
                                                                class="mr-1 border w-25 d-flex align-items-center justify-content-center"
                                                                for="username"><span class="text-danger">
                                                                </span>{{formData.partyId}}</label>
                                                            <p-dropdown class="w-100" [options]="party"
                                                                [(ngModel)]="formData.partyId"
                                                                placeholder="Select a Type" optionLabel="partyName"
                                                                optionValue="id"></p-dropdown>
                                                        </div>
                                                    </div> -->
                                                    
                                                    <div class="col-md-12 mt-4">
                                                        <div class="pad-wrapper">
                                                            <div class="box">
                                                                <div class="content">
                                                                    <div class="row">
                                                                        <div class="col-md-9">
                                                                            <p-table #dt [scrollable]="true"
                                                                                     scrollHeight="600px"
                                                                                     responsiveLayout="scroll"
                                                                                     [value]="saleDtl"
                                                                                     styleClass="p-datatable-sm p-datatable-gridlines"
                                                                                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                                                                     [rows]="10"
                                                                                     [showCurrentPageReport]="true"
                                                                                     [rowsPerPageOptions]="[10, 25, 50]"
                                                                                     [paginator]="true">
                                                                
                                                                                <ng-template pTemplate="header">
                                                                                    <tr>
                                                                                        <th pSortableColumn="code">No.
                                                                                            <p-sortIcon field="code"></p-sortIcon>
                                                                                        </th>
                                                                                        <th pSortableColumn="name">BarCode
                                                                                            <p-sortIcon field="name"></p-sortIcon>
                                                                                        </th>
                                                                                        <th pSortableColumn="price">ItemName
                                                                                            <p-sortIcon field="price"></p-sortIcon>
                                                                                        </th>
                                                                                        <th pSortableColumn="price">Qty
                                                                                            <p-sortIcon field="price"></p-sortIcon>
                                                                                        </th>
                                                                                        <th pSortableColumn="price">SalePrice
                                                                                            <p-sortIcon field="price"></p-sortIcon>
                                                                                        </th>
                                                                                        <th pSortableColumn="price">Disc%
                                                                                            <p-sortIcon field="price"></p-sortIcon>
                                                                                        </th>
                                                                                        <th pSortableColumn="price">Total
                                                                                            <p-sortIcon field="price"></p-sortIcon>
                                                                                        </th>
                                                                                        <th>Action  </th>
                                                                                    </tr>
                                                                                </ng-template>
                                                                
                                                                                <ng-template pTemplate="body" let-saleDtl let-i="rowIndex">
                                                                                    <tr>
                                                                                        <td><input type="text"
                                                                                                   class="form-control form-control-sm col-md-12 pwd"
                                                                                                   placeholder="Amount"
                                                                                                   [disabled]="false"
                                                                                                   [(ngModel)]="saleDtl.no">
                                                                                        </td>
                                                                                        <td><input type="text"
                                                                                                   class="form-control form-control-sm col-md-12 pwd"
                                                                                                   placeholder="Bar Code"
                                                                                                   [disabled]="false"
                                                                                                   [(ngModel)]="saleDtl.barCode">
                                                                                        </td>
                                                                                        <td><p-dropdown class="w-100"
                                                                                                        [options]="items"
                                                                                                        [(ngModel)]="saleDtl.itemId"
                                                                                                        placeholder="----Select an Item----"
                                                                                                        optionLabel="itemName"
                                                                                                        optionValue="id"></p-dropdown>
                                                                                        </td>
                                                                                        <td><input type="number"
                                                                                                   class="form-control form-control-sm col-md-12 pwd"
                                                                                                   placeholder="Quantity"
                                                                                                   [disabled]="false"
                                                                                                   [(ngModel)]="saleDtl.qty">
                                                                                        </td>
                                                                                        <td><input type="number"
                                                                                                   class="form-control form-control-sm col-md-12 pwd"
                                                                                                   placeholder="Sale Price"
                                                                                                   [disabled]="false" (input)="salePriceChange(saleDtl)"
                                                                                                   [(ngModel)]="saleDtl.salePrice">
                                                                                        </td>
                                                                                        <td><input type="number"
                                                                                                   class="form-control form-control-sm col-md-12 pwd"
                                                                                                   placeholder="Discount"
                                                                                                   [disabled]="false" (input)="discChange(saleDtl)"
                                                                                                   [(ngModel)]="saleDtl.disc">
                                                                                        </td>
                                                                                        <td><input type="number"
                                                                                                   class="form-control form-control-sm col-md-12 pwd"
                                                                                                   placeholder="Total"
                                                                                                   [disabled]="false"
                                                                                                   [(ngModel)]="saleDtl.netTotal">
                                                                                        </td>
                                                                                        <td><button pButton pRipple
                                                                                                    type="button"
                                                                                                    icon="pi pi-trash"
                                                                                                    (click)="RemoveCol(i)"
                                                                                                    class="p-button-sm p-button-danger">
                                                                                            </button></td>
                                                                                    </tr>
                                                                                </ng-template>
                                                                
                                                                            </p-table>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <div class="summary-table">
                                                                                <h5 class="text-center">Sales Summary</h5>
                                                                                <p-table #dt2 [scrollable]="true"
                                                                                     scrollHeight="600px"
                                                                                     responsiveLayout="scroll"
                                                                                     styleClass="p-datatable-sm p-datatable-gridlines">
                                                                
                                                                                <ng-template pTemplate="header">
                                                                                    <tr>
                                                                                        <th>Gross Sale</th>
                                                                                        <th>{{grossSale}}</th>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th>Disc%</th>
                                                                                        <th>{{disc}}</th>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th>Flat Disc</th>
                                                                                        <th>{{flatDisc}}</th>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th>Total Disc</th>
                                                                                        <th>{{totalDisc}}</th>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th>Misc</th>
                                                                                        <th>{{misc}}</th>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th>Grand Total</th>
                                                                                        <th>{{grandTotal}}</th>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th>Return</th>
                                                                                        <th><input type="number"
                                                                                                   class="form-control form-control-sm col-md-12 pwd"
                                                                                                   placeholder="Return"
                                                                                                   [disabled]="false"
                                                                                                   [(ngModel)]="return"></th>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th>Earned Points</th>
                                                                                        <th><input type="number"
                                                                                            class="form-control form-control-sm col-md-12 pwd"
                                                                                            placeholder="Earned Amount"
                                                                                            [disabled]="false" (input)="earnedPointsChange()"
                                                                                            [(ngModel)]="earnedPoints"></th>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th>Net Value</th>
                                                                                        <th>{{netAmount}}</th>
                                                                                    </tr> 
                                                                                </ng-template> 
                                                                            </p-table>
                                                                            </div>
                                                                            
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end w-100" style="margin-top:10px">
                                        <div>
                                            <button style="margin-right: 3px" pButton pRipple type="button"
                                                icon="pi pi-arrow-left" (click)="cancel()" label="Back"
                                                class="p-button-sm p-button-danger"> </button>
                                            <button pButton pRipple type="button" icon="pi pi-save" (click)="addSale()"
                                                label="Save" class="p-button-sm p-button-success"> </button>
                                        </div>
                                    </div>
                                </p-accordionTab>
                            </p-accordion>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>
</div>

<p-toast position="top-right"></p-toast>