<div class="container-fluid mt-2" style="width:100%">
    <div class="flex justify-content-between p-2 ">
        <h3> CREATE CATEGORY</h3>
    </div>
    <section>
        <div class="card">
            <div class="p-grid ">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card shadow-3">
                            <p-accordion>
                                <p-accordionTab header="CATEGORY" [selected]="true">
                                    <div class="card shadow-3">
                                        <div class="card-header">Create Category</div>
                                        <div class="card-body">
                                            <div class="grid">
                                                <div class="row mt-1 px-2 col-12">
                                                    <div class="col-md-6 col-sm-12">
                                                        <label for="username">Department <span class="text-danger">*
                                                        </span></label>
                                                        <div class="d-flex">
                                                            <label
                                                                class="mr-1 border w-25 d-flex align-items-center justify-content-center"
                                                                for="username"><span class="text-danger">
                                                                </span>{{formData.departmentId}}</label>
                                                            <p-dropdown class="w-100" [options]="dept"
                                                                [(ngModel)]="formData.departmentId" placeholder="Department"
                                                                optionLabel="departmentName" optionValue="id"></p-dropdown>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <label for="lastname">Category Name <span class="text-danger">*
                                                        </span></label>
                                                        <input type="text" class="form-control col-md-12 "
                                                            placeholder="Name" [(ngModel)]="formData.name">
                                                    </div>

                                                        <div class="col-md-6 col-sm-12">
                                                            <label for="username">Active <span class="text-danger">*
                                                            </span></label>
                                                            <div class="d-flex">
                                                                <label
                                                                    class="mr-1 border w-25 d-flex align-items-center justify-content-center"
                                                                    for="username"><span class="text-danger">
                                                                    </span>{{formData.isActive}}</label>
                                                                <p-dropdown class="w-100" [options]="act"
                                                                    [(ngModel)]="formData.isActive" placeholder="Active"
                                                                    optionLabel="isActive" optionValue="id"></p-dropdown>
                                                            </div>

                                                        </div>
                                                        <div class="col-md-6 col-sm-12">
                                                            <label for="lastname"><span class="text-danger">
                                                                </span>Priority</label>
                                                            <input type="number" class="form-control  col-md-12 "
                                                                placeholder="Priority" [(ngModel)]="formData.priority">
                                                        </div>
                                                
                                               
                                                <div class="col-md-4 col-sm-12">
                                                    <label for="lastname"><span class="text-danger">
                                                        </span>Height</label>
                                                    <input type="number" class="form-control  col-md-12 "
                                                         [(ngModel)]="formData.height">
                                                </div>
                                                <div class="col-md-4 col-sm-12">
                                                    <label for="lastname"><span class="text-danger">
                                                        </span>Width</label>
                                                    <input type="number" class="form-control  col-md-12 "
                                                         [(ngModel)]="formData.width">
                                                </div>
                                                <div class="col-md-4 col-sm-12">
                                                    <label for="lastname"><span class="text-danger">
                                                        </span>Description</label>
                                                    <input type="text" class="form-control  col-md-12 "
                                                         [(ngModel)]="formData.description">
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end w-100" style="margin-top:10px">
                                        <div>
                                            <button style="margin-right: 3px" pButton pRipple type="button"
                                                icon="pi pi-arrow-left" (click)="cancel()" label="Back"
                                                class="p-button-sm p-button-danger"> </button>
                                            <button pButton pRipple type="button" icon="pi pi-save"
                                                (click)="addCategory()" label="Save"
                                                class="p-button-sm p-button-success"> </button>
                                        </div>
                                    </div>
                                </p-accordionTab>
                            </p-accordion>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>
</div>

<p-toast position="top-right"></p-toast>