<div class="container-fluid mt-2" style="width:100%">
    <div class="flex justify-content-between p-2 ">
        <h3>PURCHASE</h3>
        <button type="button" pButton pRipple icon="pi pi-file-pdf" label="Post" (click)="postPurchase()"
            class="mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
    </div>
    <section>
        <div class="card">
            <div class="p-grid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card shadow-3">
                            <p-accordion>
                                <p-accordionTab header="Purchase" [selected]="true">
                                    <div class="card shadow-3">
                                        <div class="card-header">Add Purchase</div>
                                        <div class="card-body">
                                            <div class="grid">
                                                <div class="row mt-1 px-2 col-12">
                                                    <div class="col-md-4 col-sm-12">
                                                        <label for="usertypr"><span class="text-danger">
                                                            </span>Party Name</label>
                                                        <div class="d-flex">
                                                            <label
                                                                class="mr-1 border w-25 d-flex align-items-center justify-content-center"
                                                                for="username"><span class="text-danger">
                                                                </span>{{formData.partyId}}</label>
                                                            <p-dropdown class="w-100" [options]="party"
                                                                [(ngModel)]="formData.partyId"
                                                                placeholder="Select a Type" optionLabel="partyName"
                                                                optionValue="id"></p-dropdown>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-12 pl-2">
                                                        <label for="lastname"><span class="text-danger">
                                                            </span>Remarks</label>
                                                        <input type="text" class="form-control col-md-12"
                                                            placeholder="Remarks" [(ngModel)]="formData.remarks">
                                                    </div>
                                                    <div class="col-md-4 col-sm-12 pl-2">
                                                        <label for="lastname"><span class="text-danger">
                                                            </span>PartyInv</label>
                                                        <input type="text" class="form-control col-md-12"
                                                            placeholder="Inv" [(ngModel)]="formData.invoiceNo">
                                                    </div>
                                                    <div class="col-md-9 col-sm-9">
                                                        <div class="mt-1 table-scroll-container">
                                                            <p-table #dt [scrollable]="true"
                                                                scrollHeight="600px"
                                                                responsiveLayout="scroll"
                                                                [value]="recentItem" 
                                                                styleClass="p-datatable-sm p-datatable-gridlines"
                                                                > 
                                                                <ng-template pTemplate="header">
                                                                    <tr>
                                                                        <th
                                                                            >
                                                                            Current Stock </th>
                                                                        <th
                                                                            >
                                                                            Last Net Sale Price </th>
                                                                        <th
                                                                           >
                                                                            Last Net Cost </th>
                                                                        
                                                                    </tr>
                                                                </ng-template> 
                                                                <ng-template pTemplate="body"
                                                                    let-user let-i="rowIndex">
                                                                    <tr>
                                                                        <td><input type="text"
                                                                                class="w-100"
                                                                                class="form-control form-control-sm"
                                                                                placeholder="Enter Barcode Here" 
                                                                                [(ngModel)]="user.currentStock" >
                                                                        </td>
                                                                        <td>
                                                                            <input type="text"
                                                                                class="form-control form-control-sm"
                                                                                placeholder="Item Name"
                                                                                [(ngModel)]="user.salePrice">
                                                                        </td>
                                                                        <td><input type="number"
                                                                                class="form-control form-control-sm"
                                                                                placeholder="Quantity"
                                                                                [(ngModel)]="user.purchasePrice"
                                                                                >
                                                                        </td> 
                                                                    </tr>
                                                                </ng-template>
                                                            </p-table>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 mt-4 text-right col-sm-3">
                                                        <button pButton pRipple type="button" icon="pi pi-save"
                                                            (click)="AddData()" label="Add"
                                                            class="p-button-sm p-button-success"> </button>
                                                        <button pButton pRipple type="button" icon="pi pi-trash"
                                                            (click)="RemoveData()" label="Remove"
                                                            class="ml-2 p-button-sm p-button-danger"> </button>
                                                    </div>
                                                    <div class="col-md-12 mt-4">
                                                        <div class="pad-wrapper">
                                                            <div class="box">
                                                                <div class="content">
                                                                    <div class="row">
                                                                        <div class="col-md-9">
                                                                            <div class="table-scroll-container">
                                                                                <p-table #dt [scrollable]="true"
                                                                                    scrollHeight="600px"
                                                                                    responsiveLayout="scroll"
                                                                                    [value]="purcDtl"
                                                                                    [tableStyle]="{ 'width': '250rem', 'min-width': '100rem' }"
                                                                                    styleClass="p-datatable-sm p-datatable-gridlines"
                                                                                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                                                                    [rows]="16"
                                                                                    [showCurrentPageReport]="true"
                                                                                    [rowsPerPageOptions]="[10, 25, 50]"
                                                                                    [paginator]="true">

                                                                                    <ng-template pTemplate="header">
                                                                                        <tr>
                                                                                            <th
                                                                                                >
                                                                                                Bar Code </th>
                                                                                            <th
                                                                                                >
                                                                                                Item Name </th>
                                                                                            <th
                                                                                               >
                                                                                                Quantity </th>
                                                                                            <th
                                                                                                >
                                                                                                Bonus Qty
                                                                                            </th>
                                                                                            <th
                                                                                                >
                                                                                                Net Qty
                                                                                            </th>
                                                                                            <th
                                                                                                >
                                                                                                Purchase Price
                                                                                            </th>
                                                                                            <th
                                                                                                >
                                                                                                Sub Total
                                                                                            </th>
                                                                                            <th
                                                                                                >
                                                                                                Disc%
                                                                                            </th>
                                                                                            <th
                                                                                                >
                                                                                                Disc Value
                                                                                            </th>
                                                                                            <th
                                                                                                >
                                                                                                Total Inc Disc
                                                                                            </th>
                                                                                            <th
                                                                                                >
                                                                                                Gst %
                                                                                            </th>
                                                                                            <th
                                                                                                >
                                                                                                Gst Value
                                                                                            </th>
                                                                                            <th
                                                                                                >
                                                                                                Total Inc GST
                                                                                            </th>
                                                                                            <th
                                                                                                >
                                                                                                Net Rate
                                                                                            </th>
                                                                                            <th
                                                                                                >
                                                                                                Sale Price
                                                                                            </th>
                                                                                            <th
                                                                                                >
                                                                                                Sale Disc
                                                                                            </th>
                                                                                            <th >
                                                                                                Net Sale Price
                                                                                            </th>
                                                                                            <th >
                                                                                                Margin%
                                                                                            </th>
                                                                                            <th>
                                                                                                Action
                                                                                            </th>
                                                                                        </tr>
                                                                                    </ng-template>

                                                                                    <ng-template pTemplate="body"
                                                                                        let-user let-i="rowIndex">
                                                                                        <tr (click)="tdChange(user)">
                                                                                            <td><input type="text"
                                                                                                    class="w-100"
                                                                                                    class="form-control form-control-sm"
                                                                                                    placeholder="Enter Barcode Here"
                                                                                                    (keypress)="onKey($event,user)"
                                                                                                    autofocus
                                                                                                    [(ngModel)]="user.barcode"
                                                                                                    (input)="barCodeChange(user)">
                                                                                            </td>
                                                                                            <td>
                                                                                                <input type="text"
                                                                                                    class="form-control form-control-sm"
                                                                                                    placeholder="Item Name"
                                                                                                    [(ngModel)]="user.ItemName">
                                                                                            </td>
                                                                                            <td><input type="number"
                                                                                                    class="form-control form-control-sm"
                                                                                                    placeholder="Quantity"
                                                                                                    [(ngModel)]="user.quantity"
                                                                                                    (input)="qtyChange(user)">
                                                                                            </td>
                                                                                            <td><input type="number"
                                                                                                    class="form-control form-control-sm"
                                                                                                    placeholder="Bonus Qty"
                                                                                                    (input)="bonusQtyChange(user)"
                                                                                                    [(ngModel)]="user.bonusQuantity">
                                                                                            </td>
                                                                                            <td><input type="number"
                                                                                                    class="form-control form-control-sm"
                                                                                                    placeholder="Net Qty" [disabled]="true"
                                                                                                    (input)="bonusQtyChange(user)"
                                                                                                    [(ngModel)]="user.netQuantity">
                                                                                            </td>
                                                                                            <td><input type="number"
                                                                                                    class="form-control form-control-sm"
                                                                                                    placeholder="Purchase Price"
                                                                                                    [(ngModel)]="user.purchasePrice"
                                                                                                    (input)="purchasePriceChange(purcDtl)">
                                                                                            </td>
                                                                                            <td><input type="number"
                                                                                                    class="form-control form-control-sm"
                                                                                                    placeholder="Sub Total"
                                                                                                    (input)="discountChange(user)"
                                                                                                    [(ngModel)]="user.subTotal">
                                                                                            </td>
                                                                                            <td><input type="number"
                                                                                                    class="form-control form-control-sm"
                                                                                                    placeholder="Disc%"
                                                                                                    (input)="discPerChange(user)"
                                                                                                    [(ngModel)]="user.discountByPercent">
                                                                                            </td>
                                                                                            <td><input type="number"
                                                                                                    class="form-control form-control-sm"
                                                                                                    placeholder="Disc Value"
                                                                                                    (input)="discvallueChange(user)"
                                                                                                    [(ngModel)]="user.discountByValue">
                                                                                            </td>
                                                                                            <td><input type="number" [disabled]="true"
                                                                                                    class="form-control form-control-sm"
                                                                                                    placeholder="Total Inc Disc"
                                                                                                    [(ngModel)]="user.totalIncDisc">
                                                                                            </td>
                                                                                            <td><input type="number"
                                                                                                    class="form-control form-control-sm"
                                                                                                    placeholder="Gst %"
                                                                                                    (input)="gstPerChange(user)"
                                                                                                    [(ngModel)]="user.gstByPercent">
                                                                                            </td>
                                                                                            <td><input type="number"
                                                                                                    class="form-control form-control-sm"
                                                                                                    placeholder="Gst Value"
                                                                                                    (input)="gstValueChange(user)"
                                                                                                    [(ngModel)]="user.gstByValue">
                                                                                            </td>
                                                                                            <td><input type="number" [disabled]="true"
                                                                                                    class="form-control form-control-sm"
                                                                                                    placeholder="Gst Value"
                                                                                                    [(ngModel)]="user.totalIncGst">
                                                                                            </td>
                                                                                            <td><input type="number"
                                                                                                    class="form-control form-control-sm"
                                                                                                    placeholder="Net Rate" [disabled]="true"
                                                                                                    [(ngModel)]="user.netRate">
                                                                                            </td>
                                                                                            <td><input type="number"
                                                                                                    class="form-control form-control-sm"
                                                                                                    placeholder="Sale Price" (input)="salePriceChange(user)"
                                                                                                    [(ngModel)]="user.salePrice">
                                                                                            </td>
                                                                                            <td><input type="number"
                                                                                                    class="form-control form-control-sm"
                                                                                                    placeholder="Sale disc"
                                                                                                    (input)="saleDiscountByValueChange(user)"
                                                                                                    [(ngModel)]="user.saleDiscountByValue">
                                                                                            </td>
                                                                                            <td><input type="number"
                                                                                                    class="form-control form-control-sm"
                                                                                                    placeholder="Net Sale Price" (input)="netSalePriceChange(user)"
                                                                                                    [(ngModel)]="user.netSalePrice">
                                                                                            </td>
                                                                                            <td><input type="number"
                                                                                                    class="form-control form-control-sm"
                                                                                                    placeholder="Margin %"
                                                                                                    [(ngModel)]="user.marginPercent">
                                                                                            </td>
                                                                                            <td><button pButton pRipple
                                                                                                    type="button"
                                                                                                    icon="pi pi-trash"
                                                                                                    (click)="RemoveCol(i)"
                                                                                                    class="p-button-sm p-button-danger"></button>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </ng-template>
                                                                                </p-table>
                                                                            </div> 
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <div class="border summary-table">
                                                                                <h5 class="text-center p-1">Purchase Summary</h5>
                                                                                <p-table #dt2 [scrollable]="true"
                                                                                    scrollHeight="600px"
                                                                                    responsiveLayout="scroll"
                                                                                    styleClass="p-datatable-sm p-datatable-gridlines">

                                                                                    <ng-template pTemplate="header">
                                                                                        <tr>
                                                                                            <th>No. of Rows</th>
                                                                                            <th>{{purcDtl.length}}</th>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <th>Net Qty</th>
                                                                                            <th>{{netQuantity}}</th>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <th>Total Disc</th>
                                                                                            <th>{{totalDisc}}</th>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <th>Total GST</th>
                                                                                            <th>{{totalGST}}</th>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <th>Net Cost Total</th>
                                                                                            <th>{{netCostTotal}}</th>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <th>Net Sale Total</th>
                                                                                            <th>{{netSaleTotal}}</th>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <th>Net Profit in Value</th>
                                                                                            <th>{{netProfitInValue}}
                                                                                            </th>

                                                                                        </tr>

                                                                                    </ng-template>
                                                                                </p-table>
                                                                            </div>

                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end w-100" style="margin-top:10px">
                                        <div>
                                            <button style="margin-right: 3px" pButton pRipple type="button"
                                                icon="pi pi-arrow-left" (click)="cancel()" label="Back"
                                                class="p-button-sm p-button-danger"> </button>
                                            <button pButton pRipple type="button" icon="pi pi-save"
                                                (click)="addPurchase()" label="Save"
                                                class="p-button-sm p-button-success"> </button>
                                        </div>
                                    </div>
                                </p-accordionTab>
                            </p-accordion>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>
</div>
<p-toast position="top-right"></p-toast>