.p-datatable th {
  white-space: nowrap; /* Prevent text from wrapping */
}

.p-datatable td {
  white-space: nowrap; /* Prevent text from wrapping */
}

.p-datatable th, .p-datatable td {
  padding: 8px; /* Adjust padding as needed */
}

.highlighted {
  background-color: #1d0fe2 !important;
}
/* Highlight selected row */
::ng-deep .p-datatable .p-selectable-row.p-highlight {
  background-color: #1d0fe2 !important; /* Blue highlight */
  color: white !important;
}


