<div class="container-fluid mt-2" style="width:100%">
    <div class="flex justify-content-between p-2 ">
        <h3>PURCHASE</h3>
    </div>
    <section>
        <div class="card">
            <div class="p-grid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card shadow-3">
                            <p-accordion>
                                <p-accordionTab header="Purchase" [selected]="true">
                                    <div class="card shadow-3">
                                        <div class="card-header">Add Purchase</div>
                                        <div class="card-body">
                                            <div class="grid">
                                                <div class="row mt-1 px-2 col-12">
                                                    <div class="col-md-4 col-sm-12 pl-2">
                                                        <label for="lastname"><span class="text-danger">
                                                            </span>Serial No</label>
                                                        <input type="text" [disabled]="true"
                                                            class="form-control col-md-12" placeholder="Serial No"
                                                            [(ngModel)]="formData.id">
                                                    </div>
                                                    <div class="col-md-4 col-sm-12">
                                                        <label for="usertypr"><span class="text-danger">
                                                            </span>Party Name</label>
                                                        <div class="d-flex">
                                                            <label
                                                                class="mr-1 border w-25 d-flex align-items-center justify-content-center"
                                                                for="username"><span class="text-danger">
                                                                </span>{{formData.partyId}}</label>
                                                            <p-dropdown class="w-100" [options]="party"
                                                                [(ngModel)]="formData.partyId"
                                                                placeholder="Select a Type" optionLabel="partyName"
                                                                optionValue="id"></p-dropdown>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-12 pl-2">
                                                        <label for="lastname"><span class="text-danger">
                                                            </span>Remarks</label>
                                                        <input type="text" class="form-control col-md-12"
                                                            placeholder="Remarks" [(ngModel)]="formData.remarks">
                                                    </div>
                                                    <div class="col-md-4 col-sm-12 pl-2">
                                                        <label for="lastname"><span class="text-danger">
                                                            </span>Invoice No</label>
                                                        <input type="text" class="form-control col-md-12"
                                                            placeholder="Invoice No" [(ngModel)]="formData.invoiceNo">
                                                    </div>
                                                    <div class="px-3 col-md-3 offset-9 text-right col-sm-3">
                                                        <button pButton pRipple type="button"
                                                            [disabled]="postAddBtnDsbld==true" (click)="AddData()"
                                                            label="Add" class="mr-2 p-button-sm p-button-success">
                                                        </button>
                                                        <button pButton pRipple type="button" (click)="newScreenData()"
                                                            label="New" class="mr-1 p-button-sm"> </button>
                                                        <button pButton pRipple label="Post"
                                                            [disabled]="purcDtl.length==0||postAddBtnDsbld==true"
                                                            (click)="postPurchase()"
                                                            class="mr-2 p-button-sm p-button-warning" pTooltip="PDF"
                                                            tooltipPosition="bottom"></button>
                                                        <button pButton pRipple label="UnPost"
                                                            [disabled]="purcDtl.length==0" (click)="unPostPurchase()"
                                                            class="mr-2 p-button-sm p-button-primary" pTooltip="PDF"
                                                            tooltipPosition="bottom"></button>
                                                        <button pButton pRipple type="button" icon="pi pi-trash"
                                                            (click)="RemoveFocusedRow()"
                                                            [disabled]="focusedRowIndex === null || isPosted"
                                                            class="p-button-sm p-button-danger">
                                                        </button>

                                                    </div>
                                                    <div class="col-md-12 mt-4">
                                                        <div class="pad-wrapper">
                                                            <div class="box">
                                                                <div class="content">
                                                                    <div class="row">
                                                                        <div class="col-md-9">
                                                                            <div class="table-scroll-container">
                                                                                <!-- [selectionMode]="'single'"
                                                                                    [(selection)]="selectedRow"
                                                                                    (onRowSelect)="onRowSelect($event)" -->
                                                                                <p-table #tableRef #dt
                                                                                    [scrollable]="true"
                                                                                    scrollHeight="600px"
                                                                                    responsiveLayout="scroll"
                                                                                    [value]="purcDtl"
                                                                                    [tableStyle]="{ 'width': '250rem', 'min-width': '100rem' }"
                                                                                    styleClass="p-datatable-sm p-datatable-gridlines"
                                                                                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                                                                    [rows]="16"
                                                                                    [showCurrentPageReport]="true"
                                                                                    [rowsPerPageOptions]="[10, 25, 50]"
                                                                                    [paginator]="true">

                                                                                    <ng-template pTemplate="header">
                                                                                        <tr>
                                                                                            <th>No </th>
                                                                                            <th>
                                                                                                Bar Code </th>
                                                                                            <th>
                                                                                                Item Name </th>
                                                                                            <th>
                                                                                                Quantity </th>
                                                                                            <th>
                                                                                                Bonus Qty
                                                                                            </th>
                                                                                            <th>
                                                                                                Net Qty
                                                                                            </th>
                                                                                            <th>
                                                                                                Purchase Price
                                                                                            </th>
                                                                                            <th>
                                                                                                Sub Total
                                                                                            </th>
                                                                                            <th>
                                                                                                Disc%
                                                                                            </th>
                                                                                            <th>
                                                                                                Disc Value
                                                                                            </th>
                                                                                            <th>
                                                                                                Total Inc Disc
                                                                                            </th>
                                                                                            <th>
                                                                                                Gst %
                                                                                            </th>
                                                                                            <th>
                                                                                                Gst Value
                                                                                            </th>
                                                                                            <th>
                                                                                                Total Inc GST
                                                                                            </th>
                                                                                            <th>
                                                                                                Net Rate
                                                                                            </th>
                                                                                            <th>
                                                                                                Sale Price
                                                                                            </th>
                                                                                            <th>
                                                                                                Sale Disc
                                                                                            </th>
                                                                                            <th>
                                                                                                Net Sale Price
                                                                                            </th>
                                                                                            <th>
                                                                                                Total Sale Price
                                                                                            </th>
                                                                                            <th>
                                                                                                Margin%
                                                                                            </th>
                                                                                            <th>
                                                                                                Royalty
                                                                                            </th>
                                                                                            <th>
                                                                                                Grand Total
                                                                                            </th>
                                                                                        </tr>
                                                                                    </ng-template>
                                                                                    [pSelectableRow]="user"
                                                                                    <!-- [class.p-highlight]="selectedRow === user" -->
                                                                                    <ng-template pTemplate="body"
                                                                                        let-user let-i="rowIndex">
                                                                                        <tr [id]="'row-' + i"
                                                                                            appRowNavigation
                                                                                            tabindex="0"
                                                                                            [rowIndex]="i"
                                                                                            (rowFocused)="tdChange(purcDtl[i])"
                                                                                            (click)="setFocusedRow(i, user)"
                                                                                            [class.selected-row]="focusedRowIndex === i"
                                                                                            [ngClass]="{'highlighted': user.barcode == searchedItemName}">
                                                                                            <td>{{i+1}}</td>
                                                                                            <td>
                                                                                                <input type="text"
                                                                                                    class="form-control form-control-sm w-100"
                                                                                                    placeholder="Enter Barcode Here"
                                                                                                    (keydown.enter)="onKey($event, user)"
                                                                                                    [(ngModel)]="user.barcode"
                                                                                                    [disabled]="user.disableBarcode||isPosted"
                                                                                                    appFocusNavigation>
                                                                                            </td>
                                                                                            <td>
                                                                                                <input type="text"
                                                                                                    class="form-control form-control-sm"
                                                                                                    placeholder="Item Name"
                                                                                                    [(ngModel)]="user.ItemName"
                                                                                                    [disabled]="user.disableBarcode ||isPosted"
                                                                                                    appFocusNavigation>
                                                                                            </td>
                                                                                            <td><input type="number"
                                                                                                    class="form-control form-control-sm"
                                                                                                    placeholder="Quantity"
                                                                                                    [disabled]="isPosted"
                                                                                                    [(ngModel)]="user.quantity"
                                                                                                    (keydown.enter)="AddData()"
                                                                                                    (input)="qtyChange(user)"
                                                                                                    appFocusNavigation>
                                                                                            </td>
                                                                                            <td><input type="number"
                                                                                                    class="form-control form-control-sm"
                                                                                                    placeholder="Bonus Qty"
                                                                                                    [disabled]="isPosted"
                                                                                                    (input)="bonusQtyChange(user)"
                                                                                                    [(ngModel)]="user.bonusQuantity"
                                                                                                    appFocusNavigation>
                                                                                            </td>
                                                                                            <td><input type="number"
                                                                                                    class="form-control form-control-sm"
                                                                                                    placeholder="Net Qty"
                                                                                                    [disabled]="true||isPosted"
                                                                                                    (input)="bonusQtyChange(user)"
                                                                                                    [(ngModel)]="user.netQuantity"
                                                                                                    appFocusNavigation>
                                                                                            </td>
                                                                                            <td><input type="number"
                                                                                                    class="form-control form-control-sm"
                                                                                                    placeholder="Purchase Price"
                                                                                                    [disabled]="isPosted"
                                                                                                    [(ngModel)]="user.purchasePrice"
                                                                                                    (input)="purchasePriceChange(user)"
                                                                                                    appFocusNavigation>
                                                                                            </td>
                                                                                            <td><input type="number"
                                                                                                    class="form-control form-control-sm"
                                                                                                    placeholder="Sub Total"
                                                                                                    [disabled]="true||isPosted"
                                                                                                    (input)="discountChange(user)"
                                                                                                    [(ngModel)]="user.subTotal"
                                                                                                    appFocusNavigation>
                                                                                            </td>
                                                                                            <td><input type="number"
                                                                                                    class="form-control form-control-sm"
                                                                                                    placeholder="Disc%"
                                                                                                    [disabled]="isPosted"
                                                                                                    (input)="discPerChange(user)"
                                                                                                    [(ngModel)]="user.discountByPercent"
                                                                                                    appFocusNavigation>
                                                                                            </td>
                                                                                            <td><input type="number"
                                                                                                    class="form-control form-control-sm"
                                                                                                    placeholder="Disc Value"
                                                                                                    [disabled]="isPosted"
                                                                                                    (input)="discvallueChange(user)"
                                                                                                    [(ngModel)]="user.discountByValue"
                                                                                                    appFocusNavigation>
                                                                                            </td>
                                                                                            <td><input type="number"
                                                                                                    [disabled]="true||isPosted"
                                                                                                    class="form-control form-control-sm"
                                                                                                    placeholder="Total Inc Disc"
                                                                                                    [(ngModel)]="user.totalIncDisc"
                                                                                                    appFocusNavigation>
                                                                                            </td>
                                                                                            <td><input type="number"
                                                                                                    class="form-control form-control-sm"
                                                                                                    placeholder="Gst %"
                                                                                                    [disabled]="isPosted"
                                                                                                    (input)="gstPerChange(user)"
                                                                                                    [(ngModel)]="user.gstByPercent"
                                                                                                    appFocusNavigation>
                                                                                            </td>
                                                                                            <td><input type="number"
                                                                                                    class="form-control form-control-sm"
                                                                                                    placeholder="Gst Value"
                                                                                                    [disabled]="isPosted"
                                                                                                    (input)="gstValueChange(user)"
                                                                                                    [(ngModel)]="user.gstByValue"
                                                                                                    appFocusNavigation>
                                                                                            </td>
                                                                                            <td><input type="number"
                                                                                                    [disabled]="true||isPosted"
                                                                                                    class="form-control form-control-sm"
                                                                                                    placeholder="Gst Value"
                                                                                                    [(ngModel)]="user.totalIncGst"
                                                                                                    appFocusNavigation>
                                                                                            </td>
                                                                                            <td><input type="number"
                                                                                                    class="form-control form-control-sm"
                                                                                                    placeholder="Net Rate"
                                                                                                    [disabled]="true||isPosted"
                                                                                                    [(ngModel)]="user.netRate"
                                                                                                    appFocusNavigation>
                                                                                            </td>
                                                                                            <td><input type="number"
                                                                                                    class="form-control form-control-sm"
                                                                                                    placeholder="Sale Price"
                                                                                                    [disabled]="isPosted"
                                                                                                    (input)="salePriceChange(user)"
                                                                                                    [(ngModel)]="user.salePrice"
                                                                                                    appFocusNavigation>
                                                                                            </td>
                                                                                            <td><input type="number"
                                                                                                    class="form-control form-control-sm"
                                                                                                    placeholder="Sale disc"
                                                                                                    [disabled]="isPosted"
                                                                                                    (input)="saleDiscountByValueChange(user)"
                                                                                                    [(ngModel)]="user.saleDiscountByValue"
                                                                                                    appFocusNavigation>
                                                                                            </td>
                                                                                            <td><input type="number"
                                                                                                    class="form-control form-control-sm"
                                                                                                    placeholder="Net Sale Price"
                                                                                                    [disabled]="true||isPosted"
                                                                                                    (input)="netSalePriceChange(user)"
                                                                                                    [(ngModel)]="user.netSalePrice"
                                                                                                    appFocusNavigation>
                                                                                            </td>
                                                                                            <td><input type="number"
                                                                                                    class="form-control form-control-sm"
                                                                                                    placeholder="Total sale Price"
                                                                                                    [disabled]="true||isPosted"
                                                                                                    [(ngModel)]="user.totalSalePrice"
                                                                                                    appFocusNavigation>
                                                                                            </td>
                                                                                            <td><input type="number"
                                                                                                    class="form-control form-control-sm"
                                                                                                    placeholder="Margin %"
                                                                                                    [disabled]="isPosted"
                                                                                                    (input)="marginPerentChange(user)"
                                                                                                    [(ngModel)]="user.marginPercent"
                                                                                                    appFocusNavigation>
                                                                                            </td>
                                                                                            <td><input type="number"
                                                                                                    class="form-control form-control-sm"
                                                                                                    placeholder="Royalty"
                                                                                                    [disabled]="true||isPosted"
                                                                                                    [(ngModel)]="user.royalty"
                                                                                                    (input)="royaltyChange(user)"
                                                                                                    appFocusNavigation>
                                                                                            </td>
                                                                                            <td><input type="number"
                                                                                                    class="form-control form-control-sm"
                                                                                                    placeholder="Grand Total"
                                                                                                    [disabled]="true ||isPosted"
                                                                                                    [(ngModel)]="user.grandTotal"
                                                                                                    appFocusNavigation>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </ng-template>
                                                                                </p-table>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <div class="border summary-table">
                                                                                <h5 class="text-center p-1">Purchase
                                                                                    Summary</h5>
                                                                                <p-table #dt2 [scrollable]="true"
                                                                                    scrollHeight="600px"
                                                                                    responsiveLayout="scroll"
                                                                                    styleClass="p-datatable-sm p-datatable-gridlines">

                                                                                    <ng-template pTemplate="header">
                                                                                        <tr>
                                                                                            <th>No. of Rows</th>
                                                                                            <th>{{purcDtl.length}}</th>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <th>Net Qty</th>
                                                                                            <th>{{netQuantity}}</th>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <th>Total Disc</th>
                                                                                            <th>{{totalDisc}}</th>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <th>Total GST</th>
                                                                                            <th>{{totalGST}}</th>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <th>Net Cost Total</th>
                                                                                            <th>{{netCostTotal}}</th>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <th>Net Sale Total</th>
                                                                                            <th>{{totalSalePrice}}</th>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <th>Net Profit in Value</th>
                                                                                            <th>{{netProfitInValue}}
                                                                                            </th>

                                                                                        </tr>

                                                                                    </ng-template>
                                                                                </p-table>
                                                                            </div>

                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-9 col-sm-9">
                                            <div class="mt-1 table-scroll-container">
                                                <p-table #dt [scrollable]="true" scrollHeight="600px"
                                                    responsiveLayout="scroll" [value]="recentItem"
                                                    styleClass="p-datatable-sm p-datatable-gridlines">
                                                    <ng-template pTemplate="header">
                                                        <tr>
                                                            <th>
                                                                Current Stock </th>
                                                            <th>
                                                                Last Net Sale Price </th>
                                                            <th>
                                                                Last Net Cost </th>

                                                        </tr>
                                                    </ng-template>
                                                    <ng-template pTemplate="body" let-user let-i="rowIndex">
                                                        <tr>
                                                            <td><input type="text" class="w-100"
                                                                    class="form-control form-control-sm"
                                                                    placeholder="Enter Barcode Here"
                                                                    [(ngModel)]="user.currentStock">
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control form-control-sm"
                                                                    placeholder="Item Name"
                                                                    [(ngModel)]="user.salePrice">
                                                            </td>
                                                            <td><input type="number"
                                                                    class="form-control form-control-sm"
                                                                    placeholder="Quantity"
                                                                    [(ngModel)]="user.purchasePrice">
                                                            </td>
                                                        </tr>
                                                    </ng-template>
                                                </p-table>
                                            </div>
                                        </div>
                                        <div class="col-md-3 d-flex justify-content-end">
                                            <div>
                                                <button style="margin-right: 3px" pButton pRipple type="button"
                                                    icon="pi pi-arrow-left" (click)="cancel()" label="Back"
                                                    class="p-button-sm p-button-danger"> </button>
                                                <button pButton pRipple type="button" icon="pi pi-save"
                                                    (click)="addPurchase()" label="Save"
                                                    class="p-button-sm p-button-success"> </button>
                                            </div>
                                        </div>
                                    </div>
                                </p-accordionTab>
                            </p-accordion>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<p-dialog header="Product Searching Form" [modal]="true" [(visible)]="visible" [style]="{ width: '75rem' }"
    (onShow)="focusProductSearchInput()">
    <div class="flex items-center gap-4 mb-4">
        <label for="username" class="font-semibold w-25">Searching Criteria</label>
        <input type="text" #searchProdItemInput class="w-75" (input)="searchChildItem(childItemSearch)"
            class="form-control form-control-sm" placeholder="Enter Item Here" [(ngModel)]="childItemSearch">
    </div>
    <div class="pad-wrapper">
        <div class="box">
            <div class="content">
                <p-table #dt [scrollable]="true" scrollHeight="600px" responsiveLayout="scroll" [value]="childItems"
                    styleClass="p-datatable-sm p-datatable-gridlines" [(selection)]="selectedChildItem"
                    selectionMode="single" dataKey="barCode"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rows]="10"
                    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true" [rows]="10">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="code">Bar Code <p-sortIcon field="code"></p-sortIcon></th>
                            <th pSortableColumn="name">Child Name <p-sortIcon field="name"></p-sortIcon></th>
                            <th pSortableColumn="category">Purchase Price <p-sortIcon field="category"></p-sortIcon>
                            </th>
                            <th pSortableColumn="quantity">Sale Price <p-sortIcon field="quantity"></p-sortIcon>
                            </th>
                            <th pSortableColumn="price">Action<p-sortIcon field="price"></p-sortIcon></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-itm>
                        <tr [pSelectableRow]="itm">
                            <td>{{itm.barCode}}</td>
                            <td>{{itm.itemName}}</td>
                            <td>{{itm.cost}}</td>
                            <td>{{itm.salePrice}}</td>
                            <button style="margin-right: 3px" pButton pRipple label="Add"
                                class="p-button-rounded p-button-info"
                                (click)="addChildItemToPurchaseList(itm)"></button>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</p-dialog>

<p-dialog header="Search with Item Name" [modal]="true" [(visible)]="itemSearchDialog" (onShow)="focusSearchInput()">
    <div class="card shadow-3">
        <div class="card-body">
            <div class="grid">
                <div class="row px-2 col-12">
                    <div class="col-md-12">
                        <input type="text" #searchItemInput class="p-3 form-control form-control-sm"
                            placeholder="Search With Item Name" (input)="itemSearchFromDialog($event)"
                            (keydown.enter)="onSearchDialogEnter($event)" [(ngModel)]="searchedItemName">
                    </div>
                    <div class="mt-2 col-md-12">
                        <div class="mt-2 pad-wrapper">
                            <div class="box">
                                <div class="content">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-dialog>
<p-toast position="top-right"></p-toast>