<div class="container-fluid mt-2 pt-1">
    <h3 class="font-bold ml-1 mb-2">TILL CLOSE</h3>
    <div class="row">  
        <div class="col-md-6">
            <div class="card h-100 shadow-3">
                <div class="card-header font-bold border-100 border-bottom ">Detail Info</div>
                <div class="card-body">
                    <div class="row mt-2">
                        <div class="col-md-3">
                           <label class="mt-1 font-bold text-success">Cash In S.no.</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text"
                                   class="form-control form-control-sm"
                                   placeholder="Enter Cash In S.no."
                                   [disabled]="true"
                                   [(ngModel)]="tillCloseForm.sNo">
                        </div>
                    </div> 
                    <div class="row mt-2">
                        <div class="col-md-3">
                           <label class="mt-1 font-bold text-success">Till Name</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text"
                                   class="form-control form-control-sm"
                                   placeholder="Enter Till Name"
                                   [disabled]="true"
                                   [(ngModel)]="tillCloseForm.tillName">
                        </div>
                    </div> 
                    <div class="row mt-2">
                        <div class="col-md-3">
                           <label class="mt-1 font-bold text-success">User</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text"
                                   class="form-control form-control-sm"
                                   placeholder="Enter User"
                                   [disabled]="true"
                                   [(ngModel)]="tillCloseForm.user">
                        </div>
                    </div> 
                    <div class="row mt-2">
                        <div class="col-md-3">
                           <label class="mt-1 font-bold text-success">Shift</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text"
                                   class="form-control form-control-sm"
                                   placeholder="Enter Shift"
                                   [disabled]="true"
                                   [(ngModel)]="tillCloseForm.shift">
                        </div>
                    </div> 
                    <div class="row mt-2">
                        <div class="col-md-3">
                           <label class="mt-1 font-bold text-success">Branch</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text"
                                   class="form-control form-control-sm"
                                   placeholder="Enter Branch"
                                   [disabled]="true"
                                   [(ngModel)]="tillCloseForm.branch">
                        </div>
                    </div> 
                    <div class="row mt-2">
                        <div class="col-md-3">
                           <label class="mt-1 font-bold text-success">Company</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text"
                                   class="form-control form-control-sm"
                                   placeholder="Enter Company"
                                   [disabled]="true"
                                   [(ngModel)]="tillCloseForm.company">
                        </div>
                    </div> 
                    <div class="row mt-2">
                        <div class="col-md-3">
                           <label class="mt-1 font-bold text-success">Amount</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text"
                                   class="form-control form-control-sm"
                                   placeholder="Enter Amount"
                                   [disabled]="true"
                                   [(ngModel)]="tillCloseForm.amount">
                        </div>
                    </div> 
                    <div class="row mt-2">
                        <div class="col-md-3">
                           <label class="mt-1 font-bold text-success">Notes.</label>
                        </div>
                        <div class="col-md-9">
                            <textarea class="border-green-200"
                                rows="5"
                                cols="62" 
                                pInputTextarea 
                                [(ngModel)]="tillCloseForm.notes">
                            </textarea>
                        </div>
                    </div> 
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="card h-100 shadow-3">
                <div class="card-header font-bold border-100 border-bottom ">Cash Denominations</div>
                <div class="card-body">
                    <div class="row mt-1">
                        <div class="col-md-3">
                            <input type="number"
                                   class="form-control form-control-sm"
                                   placeholder="5000"
                                   [disabled]="true" value="5000"
                                   [(ngModel)]="tillCloseForm.five000">
                        </div>
                        <div class="col-md-1 d-flex align-items-center justify-content-center">
                            X
                        </div>
                        <div class="col-md-3">
                            <input type="number"
                                   class="form-control form-control-sm"
                                   placeholder="0"
                                   [disabled]="false" (input)="amountfive000Changes($event)" 
                                   [(ngModel)]="tillCloseForm.five000v">
                        </div>
                        <div class="col-md-1 d-flex align-items-center justify-content-center">
                            =
                        </div>
                        <div class="col-md-4">
                            <input type="number"
                                   class="form-control form-control-sm"
                                   placeholder="0"
                                   [disabled]="true"
                                   [(ngModel)]="tillCloseForm.five000t">
                        </div>
                    </div> 
                    <div class="row mt-1">
                        <div class="col-md-3">
                            <input type="number"
                                   class="form-control form-control-sm"
                                   placeholder="1000"
                                   [disabled]="true" value="1000"
                                   [(ngModel)]="tillCloseForm.one0000">
                        </div>
                        <div class="col-md-1 d-flex align-items-center justify-content-center">
                            X
                        </div>
                        <div class="col-md-3">
                            <input type="number"
                                   class="form-control form-control-sm"
                                   placeholder="0"
                                   [disabled]="false" (input)="amountone000Changes($event)" 
                                   [(ngModel)]="tillCloseForm.one0000v">
                        </div>
                        <div class="col-md-1 d-flex align-items-center justify-content-center">
                            =
                        </div>
                        <div class="col-md-4">
                            <input type="text"
                                   class="form-control form-control-sm"
                                   placeholder="0"
                                   [disabled]="true"
                                   [(ngModel)]="tillCloseForm.one0000t">
                        </div>
                    </div> 
                    <div class="row mt-1">
                        <div class="col-md-3">
                            <input type="number"
                                   class="form-control form-control-sm"
                                   placeholder="500"
                                   [disabled]="true" value="500"
                                   [(ngModel)]="tillCloseForm.five00">
                        </div>
                        <div class="col-md-1 d-flex align-items-center justify-content-center">
                            X
                        </div>
                        <div class="col-md-3">
                            <input type="number"
                                   class="form-control form-control-sm"
                                   placeholder="0"
                                   [disabled]="false" (input)="amountfive00Changes($event)" 
                                   [(ngModel)]="tillCloseForm.five00v">
                        </div>
                        <div class="col-md-1 d-flex align-items-center justify-content-center">
                            =
                        </div>
                        <div class="col-md-4">
                            <input type="number"
                                   class="form-control form-control-sm"
                                   placeholder="0"
                                   [disabled]="true"
                                   [(ngModel)]="tillCloseForm.five00t">
                        </div>
                    </div> 
                    <div class="row mt-1">
                        <div class="col-md-3">
                            <input type="number"
                                   class="form-control form-control-sm"
                                   placeholder="100"
                                   [disabled]="true" value="100"
                                   [(ngModel)]="tillCloseForm.one00">
                        </div>
                        <div class="col-md-1 d-flex align-items-center justify-content-center">
                            X
                        </div>
                        <div class="col-md-3">
                            <input type="number"
                                   class="form-control form-control-sm"
                                   placeholder="0"
                                   [disabled]="false" (input)="amountone00Changes($event)" 
                                   [(ngModel)]="tillCloseForm.one00v">
                        </div>
                        <div class="col-md-1 d-flex align-items-center justify-content-center">
                            =
                        </div>
                        <div class="col-md-4">
                            <input type="number"
                                   class="form-control form-control-sm"
                                   placeholder="0"
                                   [disabled]="true"
                                   [(ngModel)]="tillCloseForm.one00t">
                        </div>
                    </div> 
                    <div class="row mt-1">
                        <div class="col-md-3">
                            <input type="number"
                                   class="form-control form-control-sm"
                                   placeholder="50"
                                   [disabled]="true" value="50"
                                   [(ngModel)]="tillCloseForm.five0">
                        </div>
                        <div class="col-md-1 d-flex align-items-center justify-content-center">
                            X
                        </div>
                        <div class="col-md-3">
                            <input type="number"
                                   class="form-control form-control-sm"
                                   placeholder="0"
                                   [disabled]="false" (input)="amount50Changes($event)" 
                                   [(ngModel)]="tillCloseForm.five0v">
                        </div>
                        <div class="col-md-1 d-flex align-items-center justify-content-center">
                            =
                        </div>
                        <div class="col-md-4">
                            <input type="number"
                                   class="form-control form-control-sm"
                                   placeholder="0"
                                   [disabled]="true"
                                   [(ngModel)]="tillCloseForm.five0t">
                        </div>
                    </div> 
                    <div class="row mt-1">
                        <div class="col-md-3">
                            <input type="number"
                                   class="form-control form-control-sm"
                                   placeholder="20"
                                   [disabled]="true" value="20"
                                   [(ngModel)]="tillCloseForm.two0">
                        </div>
                        <div class="col-md-1 d-flex align-items-center justify-content-center">
                            X
                        </div>
                        <div class="col-md-3">
                            <input type="number"
                                   class="form-control form-control-sm"
                                   placeholder="0"
                                   [disabled]="false" (input)="amounttwo0Changes($event)" 
                                   [(ngModel)]="tillCloseForm.two0v">
                        </div>
                        <div class="col-md-1 d-flex align-items-center justify-content-center">
                            =
                        </div>
                        <div class="col-md-4">
                            <input type="number"
                                   class="form-control form-control-sm"
                                   placeholder="0"
                                   [disabled]="true"
                                   [(ngModel)]="tillCloseForm.two0t">
                        </div>
                    </div> 
                    <div class="row mt-1">
                        <div class="col-md-3">
                            <input type="number"
                                   class="form-control form-control-sm"
                                   placeholder="10"
                                   [disabled]="true" value="10"
                                   [(ngModel)]="tillCloseForm.one0">
                        </div>
                        <div class="col-md-1 d-flex align-items-center justify-content-center">
                            X
                        </div>
                        <div class="col-md-3">
                            <input type="number"
                                   class="form-control form-control-sm"
                                   placeholder="0"
                                   [disabled]="false" (input)="amountOne0Changes($event)" 
                                   [(ngModel)]="tillCloseForm.one0v">
                        </div>
                        <div class="col-md-1 d-flex align-items-center justify-content-center">
                            =
                        </div>
                        <div class="col-md-4">
                            <input type="number"
                                   class="form-control form-control-sm"
                                   placeholder="0"
                                   [disabled]="true"
                                   [(ngModel)]="tillCloseForm.one0t">
                        </div>
                    </div> 
                    <div class="row mt-1">
                        <div class="col-md-3">
                            <input type="number"
                                   class="form-control form-control-sm"
                                   placeholder="5"
                                   [disabled]="true" value="5"
                                   [(ngModel)]="tillCloseForm.five">
                        </div>
                        <div class="col-md-1 d-flex align-items-center justify-content-center">
                            X
                        </div>
                        <div class="col-md-3">
                            <input type="number"
                                   class="form-control form-control-sm"
                                   placeholder="0"
                                   [disabled]="false" (input)="amountfiveChanges($event)" 
                                   [(ngModel)]="tillCloseForm.fivev">
                        </div>
                        <div class="col-md-1 d-flex align-items-center justify-content-center">
                            =
                        </div>
                        <div class="col-md-4">
                            <input type="number"
                                   class="form-control form-control-sm"
                                   placeholder="0"
                                   [disabled]="true"
                                   [(ngModel)]="tillCloseForm.fivet">
                        </div>
                    </div> 
                    <div class="row mt-1">
                        <div class="col-md-3">
                            <input type="number"
                                   class="form-control form-control-sm"
                                   placeholder="2"
                                   [disabled]="true" value="2"
                                   [(ngModel)]="tillCloseForm.two">
                        </div>
                        <div class="col-md-1 d-flex align-items-center justify-content-center">
                            X
                        </div>
                        <div class="col-md-3">
                            <input type="number"
                                   class="form-control form-control-sm"
                                   placeholder="0"
                                   [disabled]="false" (input)="amounttwoChanges($event)" 
                                   [(ngModel)]="tillCloseForm.twov">
                        </div>
                        <div class="col-md-1 d-flex align-items-center justify-content-center">
                            =
                        </div>
                        <div class="col-md-4">
                            <input type="number"
                                   class="form-control form-control-sm"
                                   placeholder="0"
                                   [disabled]="true"
                                   [(ngModel)]="tillCloseForm.twot">
                        </div>
                    </div> 
                    <div class="row mt-1">
                        <div class="col-md-3">
                            <input type="number"
                                   class="form-control form-control-sm"
                                   placeholder="1"
                                   [disabled]="true" value="1"
                                   [(ngModel)]="tillCloseForm.one">
                        </div>
                        <div class="col-md-1 d-flex align-items-center justify-content-center">
                            X
                        </div>
                        <div class="col-md-3">
                            <input type="number"
                                   class="form-control form-control-sm"
                                   placeholder="0"
                                   [disabled]="false" (input)="amountOneChanges($event)" 
                                   [(ngModel)]="tillCloseForm.onev">
                        </div>
                        <div class="col-md-1 d-flex align-items-center justify-content-center">
                            =
                        </div>
                        <div class="col-md-4">
                            <input type="number"
                                   class="form-control form-control-sm"
                                   placeholder="0"
                                   [disabled]="true"
                                   [(ngModel)]="tillCloseForm.onet">
                        </div>
                    </div> 
                </div>
            </div>

        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card shadow-3 ">
                <div class="card-body">
                    <button style="margin-right: 3px" pButton pRipple type="button"
                    icon="pi pi-arrow-left" (click)="cancel()" label="Back"
                    class="float-end p-button-sm p-button-danger"> </button>
                    <button pButton pRipple type="button" icon="pi pi-save" (click)="add()"
                    label="Save" class="mr-3 float-end p-button-sm p-button-success"> </button>
            
                </div>
            </div>
        </div>
    </div>
</div>
