<div class="container-fluid mt-2" style="width:100%">
    <div class="flex justify-content-between p-2 ">
        <h3>PURCHASE ORDER</h3>
    </div>
    <section>
        <div class="card">
            <div class="p-grid ">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card shadow-3">
                            <p-accordion>
                                <p-accordionTab header="Purchase Order" [selected]="true">
                                    <div class="card shadow-3">
                                        <div class="card-header">Add Order</div>
                                        <div class="card-body">
                                            <div class="grid">
                                                <div class="row mt-1 px-2 col-12"> 
                                                    <div class="col-md-4 col-sm-12">
                                                        <label for="usertypr"><span class="text-danger">
                                                            </span>Party</label>
                                                        <div class="d-flex">
                                                            <label
                                                                class="mr-1 border w-25 d-flex align-items-center justify-content-center"
                                                                for="username"><span class="text-danger">
                                                                </span>{{formData.partyId}}</label>
                                                            <p-dropdown class="w-100" [options]="party"
                                                                [(ngModel)]="formData.partyId"
                                                                placeholder="Select a Type" optionLabel="partyName"
                                                                optionValue="id"></p-dropdown>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-12">
                                                        <label for="lastname"><span class="text-danger">
                                                            </span>Date of Invoice</label>
                                                        <p-calendar [(ngModel)]="formData.dateOfInvoice" [style]="{width:100}"
                                                            dateFormat="yy-mm-dd"></p-calendar>
                                                    </div>  
                                                    <div class="col-md-4 col-sm-12">
                                                        <label for="lastname"><span class="text-danger">
                                                            </span>Start Date</label>
                                                        <p-calendar [(ngModel)]="formData.startDate" [style]="{width:100}"
                                                            dateFormat="yy-mm-dd"></p-calendar>
                                                    </div>
                                                    <div class="col-md-4 col-sm-12">
                                                        <label for="lastname"><span class="text-danger">
                                                            </span>End Date</label>
                                                        <p-calendar [(ngModel)]="formData.endDate" [style]="{width:100}"
                                                            dateFormat="yy-mm-dd"></p-calendar>
                                                    </div> 
                                                    <div class="col-md-4 col-sm-12 pl-2">
                                                        <label for="lastname"><span class="text-danger">
                                                            </span>Remarks</label>
                                                        <input type="text" class="form-control col-md-12"
                                                            placeholder="Name" [(ngModel)]="formData.remarks">
                                                    </div>
                                                    <div class="col-md-4 col-sm-12 pl-2">
                                                        <label for="lastname"><span class="text-danger">
                                                            </span>PO Category</label>
                                                        <input type="text" class="form-control col-md-12"
                                                            placeholder="Pur Sno" [(ngModel)]="formData.paCategory">
                                                    </div>   
                                                    <div class="col-md-4 col-sm-12 pl-2">
                                                        <label for="lastname"><span class="text-danger">
                                                            </span>Projection Days</label>
                                                        <input type="text" class="form-control col-md-12"
                                                            placeholder="Projection Days" [(ngModel)]="formData.projectionDays">
                                                    </div>
                                                    <div class="col-md-12 mt-4 text-right col-sm-12">
                                                        <button pButton pRipple type="button" icon="pi pi-save"
                                                            (click)="AddData()" label="Add"
                                                            class="p-button-sm p-button-success"> </button>
                                                        <button pButton pRipple type="button" icon="pi pi-trash"
                                                            (click)="RemoveData()" label="Remove"
                                                            class="ml-2 p-button-sm p-button-danger"> </button>
                                                    </div>
                                                    <div class="col-md-12 mt-4">
                                                        <div class="pad-wrapper">
                                                            <div class="box">
                                                                <div class="content">
                                                                    <p-table #dt [scrollable]="true"
                                                                        scrollHeight="600px" responsiveLayout="scroll"
                                                                        [value]="purchOrderDtlData"
                                                                        styleClass="p-datatable-sm p-datatable-gridlines"
                                                                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                                                        [rows]="10" [showCurrentPageReport]="true"
                                                                        [rowsPerPageOptions]="[10, 25, 50]"
                                                                        [paginator]="true" [rows]="10">

                                                                        <ng-template pTemplate="header">
                                                                            <tr> 
                                                                                <th pSortableColumn="name">No
                                                                                    <p-sortIcon
                                                                                        field="name"></p-sortIcon></th>
                                                                                <th pSortableColumn="name">Bar Code
                                                                                    <p-sortIcon
                                                                                        field="name"></p-sortIcon></th>
                                                                                <th pSortableColumn="price">
                                                                                    Item Name<p-sortIcon
                                                                                        field="price"></p-sortIcon></th>
                                                                                <th pSortableColumn="price">
                                                                                    Sold Quantity<p-sortIcon
                                                                                        field="price"></p-sortIcon></th>
                                                                                <th pSortableColumn="price">
                                                                                    Rtn Quantity<p-sortIcon
                                                                                        field="price"></p-sortIcon></th>
                                                                                <th pSortableColumn="price">
                                                                                    Net Sale Quantity<p-sortIcon
                                                                                        field="price"></p-sortIcon></th>
                                                                                <th pSortableColumn="price">
                                                                                    Rate<p-sortIcon
                                                                                        field="price"></p-sortIcon></th>
                                                                                <th pSortableColumn="price">
                                                                                    Current Stock<p-sortIcon
                                                                                        field="price"></p-sortIcon></th>
                                                                                <th pSortableColumn="price">
                                                                                    Required Quantity<p-sortIcon
                                                                                        field="price"></p-sortIcon></th>
                                                                                <th pSortableColumn="price">
                                                                                    Total<p-sortIcon
                                                                                        field="price"></p-sortIcon></th>
                                                                                <th pSortableColumn="price">
                                                                                    Action<p-sortIcon
                                                                                        field="price"></p-sortIcon></th> 
                                                                            </tr>
                                                                        </ng-template>
                                                                        <ng-template pTemplate="body" let-user let-i="rowIndex">
                                                                            <tr>
                                                                                <td>{{i+1}}</td>
                                                                                <td> <input type="text"
                                                                                        class="form-control form-control-sm col-md-12 pwd"
                                                                                        placeholder="No"
                                                                                        [disabled]="false"
                                                                                        [(ngModel)]="user.barCode"></td>
                                                                                        <td><p-dropdown class="w-100"
                                                                                            [options]="item"
                                                                                            [(ngModel)]="user.itemId"
                                                                                            placeholder="----Select an Item----"
                                                                                            optionLabel="itemName"
                                                                                            optionValue="id"></p-dropdown>
                                                                            </td>
                                                                                <td> <input type="number"
                                                                                        class="form-control form-control-sm col-md-12 pwd"
                                                                                        placeholder="Item Name"
                                                                                        [disabled]="false"
                                                                                        [(ngModel)]="user.soldQty"></td>
                                                                                <td> <input type="number"
                                                                                        class="form-control form-control-sm col-md-12 pwd"
                                                                                        placeholder="Bonus Qty"
                                                                                        [disabled]="false"
                                                                                        [(ngModel)]="user.rtnQty"></td>
                                                                                <td> <input type="number"
                                                                                        class="form-control form-control-sm col-md-12 pwd"
                                                                                        placeholder="Sale Price"
                                                                                        [disabled]="false"
                                                                                        [(ngModel)]="user.netSaleQty"></td>
                                                                                <td> <input type="number"
                                                                                        class="form-control form-control-sm col-md-12 pwd"
                                                                                        placeholder="Desc"
                                                                                        [disabled]="false"
                                                                                        [(ngModel)]="user.rate"></td> 
                                                                                <td> <input type="number"
                                                                                        class="form-control form-control-sm col-md-12 pwd"
                                                                                        placeholder="GST"
                                                                                        [disabled]="false"
                                                                                        [(ngModel)]="user.currentStock"></td>
                                                                                <td> <input type="number"
                                                                                        class="form-control form-control-sm col-md-12 pwd"
                                                                                        placeholder="GST Per 2"
                                                                                        [disabled]="false"
                                                                                        [(ngModel)]="user.requiredQty"></td>
                                                                                <td> <input type="text"
                                                                                        class="form-control form-control-sm col-md-12 pwd"
                                                                                        placeholder="Remakrs"
                                                                                        [disabled]="false"
                                                                                        [(ngModel)]="user.total"></td> 
                                                                                <td>  <button pButton pRipple type="button" icon="pi pi-trash" (click)="RemoveCol(i)"
                                                                                    class="p-button-sm p-button-danger"> </button></td>
                                                                            </tr>
                                                                        </ng-template> 
                                                                    </p-table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end w-100" style="margin-top:10px">
                                        <div>
                                            <button style="margin-right: 3px" pButton pRipple type="button"
                                                icon="pi pi-arrow-left" (click)="cancel()" label="Back"
                                                class="p-button-sm p-button-danger"> </button>
                                            <button pButton pRipple type="button" icon="pi pi-save" (click)="addPurchaseOrder()"
                                                label="Save" class="p-button-sm p-button-success"> </button>
                                        </div>
                                    </div>
                                </p-accordionTab>
                            </p-accordion>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>
</div>

<p-toast position="top-right"></p-toast>